.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 41.5rem;
  border-radius: 2rem;
  background: var(--surface-0);
  color: var(--on-surface);
  overflow: hidden;
  transform-origin: bottom center;
  & > header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background: var(--surface-1);
    & > h1 {
      font-size: 1.25rem;
    }
  }
  & > section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1;
    width: 100%;
  }
  & > footer {
    width: 100%;
    padding: 2rem 3rem 3rem;
    border-top: 1px solid var(--outline-variant-2);
  }
}