.button {
  display: flex;
  padding: 12px 16px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1px var(--outline);
  border-radius: 50px;
  cursor: pointer;
  transition: filter .2s, background .2s;
  & > span {
    font-size: 1.125rem;
  }
  & > p {
    font-size: 1rem;
    line-height: 1.1875rem;
    height: 1.1875rem;
  }
  &:hover {
    background-color: var(--surface-2);
  }
  &:active {
    background-color: var(--surface-3);
  }
  &.filled {
    border: none;
    background-color: var(--inverse-surface);
    color: var(--inverse-on-surface);
    font-weight: 600;
    &:hover {
      filter: contrast(0.6);
    }
    &:active {
      filter: contrast(0.4);
    }
  }
}
