.dot {
    width: 5px;
    height: 5px;
    background-color: var(--inverse-surface);
    border-radius: 100rem;
}

.wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    padding: 1rem;
    background-color: var(--surface-4);
    gap: 6px;
    border-radius: 100rem;
    transform-origin: left bottom;
}