.mail {
  overflow: auto;
  overscroll-behavior: contain;
  height: 100%;
  & > header {
    display: flex;
    width: 100%;

    padding: 24px 16px 0 68px;
    gap: 12px;
    align-items: center;
    & > h2 {
      font-size: 22px;
    }
    & > span {
      cursor: pointer;
    }
  }
  & > main {
    padding: 24px 16px;
    display: flex;
    gap: 12px;
    flex: 1;
    & > img {
      border-radius: 100%;
      width: 40px;
      height: 40px;
    }
    & .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 24px;
      & > header {
        display: flex;
        flex-direction: column;
        & > div {
          display: flex;
          gap: 8px;
          align-items: center;
          & > h3 {
            font-size: 16px;
            font-weight: 700;
          }
          & > p {
            font-size: 14px;
            color: var(--on-surface-variant);
          }
        }
        & > p {
          font-size: 14px;
          color: var(--on-surface-variant);
        }
      }
      & > div {
        font-size: 16px;
      }
    }
  }

  & > footer {
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 24px;
    border-top: solid 1px var(--outline);
    height: fit-content;
  }
}
