.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h3 {
        font-size: 24px;
    }
}

.adviceBtn {
    border: 2px solid var(--outline-variant-2);
    border-radius: 32px;
    padding: 16px 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 5px;
  
    &:hover {
      background: color-mix(
        in srgb,
        var(--surface-4) 60%,
        var(--inverse-on-surface) 40%
      );
    }
}